[submodule "SubmoduleTest1"]
	path = SubmoduleTest1
	url = ../SubmoduleTest1.git
[submodule "SubmoduleTest2"]
	path = SubmoduleTest2
	url = ../SubmoduleTest2.git
[submodule "SubmoduleTest3"]
	path = SubmoduleTest3
	url = https://github.com/igt-gsp/SubmoduleTest3.git
	branch = main
